<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章列表</title>
    <meta name="keywords" content="node-admin-sys">
    <meta name="description" content="node-admin-sys">
    <link rel="shortcut icon" href="../images/bitbug_favicon.ico">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/animate.min.css" rel="stylesheet">
    <link href="../css/style.min.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight blog">
    <div class="row">
        <div class="col-lg-12">
            <%
            for(let i = 0;i<contents.length;i++) {
                //遍历数组的中的所有对象
                var arr1 = contents[i].comments; //得到对象中的comments数组
                // 得到数组 判断数组是否存在
                if (arr1.length !== 0){
                 for(var j = 0;j<arr1.length ;j++){
                    // 评论是激活的状态才显示
                    if (arr1[j].live===true) {
            %>
            <div class="ibox">
                <div class="ibox-content">
                    <a href="#" class="btn-link">
                        <h2>
                            <a href="#" target="_blank"><%=arr1[j].comments%> <%=contents[i]._id%> <%=arr1[j].id%></a>
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong></strong> <span class="text-muted"><i class="fa fa-clock-o"></i><%=arr1[j].postTime%></span>
                    </div>
                    <p>

                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>标签：</h5>
                            <button class="btn btn-primary btn-xs" type="button"></button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <a class="btn btn-danger btn-rounded btn-outline" href="/admin/commentsDelete?id=<%=contents[i]._id%>&cid=<%=arr1[j].id%>">删除</a>
                                <h5>状态：激活</h5>
                                <div> <i class="fa fa-comments-o"> </i> 用户名: <%=arr1[j].user%> </div>
                                <i class="fa fa-eye"> </i> 超级管理员 - 浏览
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%
                     }
                    }
                  }
                }
            %>

        </div>
    </div>
</div>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/content.min.js"></script>

</body>

</html>
