<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>node-content-sys</title>
    <meta name="description" content="node-content-sys" />
    <meta name="keywords" content="node-content-sys">
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/bitbug_favicon.ico">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/8.5/styles/monokai_sublime.min.css">
    <link href="//cdn.bootcss.com/magnific-popup.js/1.0.0/magnific-popup.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="canonical" href="http://www.ghostchina.com/ghost-1-0-0-beta-2-released/" />
    <meta name="referrer" content="origin" />
    <script type="text/javascript" src="js/demo01.js"></script>
    <script type="text/javascript">
        ghost.init({
            clientId: "ghost-frontend",
            clientSecret: "721352203d6a"
        });
    </script>
    <meta name="generator" content="node-content-sys" />
    <link rel="alternate" type="application/rss+xml" title="node-content-sys" href="http://www.jasonlwy.cn" />
    <style>
        .img{
            display: block;
            margin-bottom: 25px;
        }
    </style>
</head>
<body class="post-template">
<!-- start navigation -->
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 topColor  ">
                <div style="display: none;" class="navbar-header">
                        <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                        </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu">
                        <li class="nav-current" role="presentation"><a href="/">首页</a></li>
                        <!--<li  role="presentation"><a href="/committeam">摄影</a></li>-->
                        <!--<li  role="presentation"><a href="/committeam">旅游</a></li>-->
                        <li  role="presentation"><a href="/about">关于博主</a></li>
                        <%
                        if(session.loginUser){
                        %>
                            <li class="pull-right"><a href="#">设置</a></li>
                        <%
                        }
                        %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- end navigation -->
<!-- start site's main content area -->
<section class="content-wrap">
    <div class="container">
        <div class="row">
            <main class="col-md-8 main-content">
                <%
                        if(!content && content.toString()==''){
                %>
                <%
                    }else{
                %>
                <article id="104" class="post">

                    <header class="post-head">
                        <h1 class="post-title"><%=content.title%></h1>
                        <section class="post-meta">
                            <span class="author">作者：<a href="/about"><%=content.user.username%></a></span> &bull;
                            <time class="post-date" datetime="" title=""><%=now%></time>
                        </section>
                    </header>
                    <section class="featured-media">
                        <%
                            var arr1 = content.images;
                            for(var o = 0;o<arr1.length;o++){

                        %>
                        <img src="<%=arr1[o]%>" alt="image" class="img-responsive img">
                        <%
                            }
                        %>
                    </section>
                    <section class="post-content">
                        <p>
                            <!--markdown语法-->
                            <%-contentHtml%>
                        </p>
                    </section>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <%=content.category.name%>
                        </div>

                        <div class="pull-left tag-list marL">
                            <i class="fa fa-folder-open-o">阅读数:</i>
                            <%=content.views%>
                        </div>
                        <div class="pull-right share">
                            <div class="bdsharebuttonbox share-icons">
                                <a href="#" class="bds_more" data-cmd="more"></a>
                                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                                <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                            </div>        </div>
                    </footer>

                </article>
                <%
                         }
                %>
                <div class="about-author clearfix">
                    <!--<a href="/author/wangsai/"><img src="http://static.ghostchina.com/image/5/ea/da657733ee8c9add9cf3fd70183a6.png" alt="王赛" class="avatar pull-left"></a>-->

                    <!--未登录显示-->
                        <%
                            if(!session.loginUser){
                        %>
                        <a href="/login" class="btn btn-warning btn-block">你 还 没 登 陆 请 ! 先 登 陆 再 评 论</a>
                    <br>

                    <ul class="list-group">
                        <%
                        if(!content && content.toString()==""){

                        %>
                        <li class="list-group-item"><strong>没有评论！！！！</strong></li>
                        <%
                        } else{
                        for(let i =0;i<content.comments.length;i++){

                            if (content.comments[i].live === true) {
                                //评论激活的情况下
                        %>
                        <li class="list-group-item">
                            <strong>
                                <i class="glyphicon glyphicon-user"></i>
                                <%=content.comments[i].user%>: &nbsp;&nbsp;
                            </strong>

                            <%=content.comments[i].comments%>
                            <strong class="pull-right"><%=arr[i]%></strong>
                        </li>
                        <%
                          }
                          }
                        }
                        %>
                    </ul>
                    <a href="#" class="btn btn-primary pull-right" style="margin-left:5px; ">下一页</a>
                            <span class="page-number">当前第  页&nbsp; 总共2页</span>
                    <a href="#" class="btn btn-primary pull-right">上一页</a>
                    <%
                        }else {
                    %>
                        <!--已登陆显示 评论表单!!!!-->
                        <form action="/addComments" method="post">
                                <div class="form-group ">
                                    <label for="comments">发表评论</label>
                                    <input type="hidden" name="id" value="<%=content._id%>">
                                    <input id="comments" style="border: 1px sandybrown solid" type="text" class="form-control" name="comments">
                                    <input type="submit" class="btn-primary pull-right addC" value="提交评论">
                                </div>
                        </form>
                        <br>
                        <br>

                    <ul class="list-group">
                        <%
                            if(!content && content.toString()==""){

                        %>
                        <li class="list-group-item"><strong>没有评论！！！！</strong></li>
                        <%
                        } else{
                            for(let i =0;i<content.comments.length;i++){
                                if (content.comments[i].live === true){
                        %>
                        <li class="list-group-item">
                            <strong>
                                <i class="glyphicon glyphicon-user"></i>
                                <%=content.comments[i].user%>: &nbsp;&nbsp;
                            </strong>
                            <%=content.comments[i].comments%>
                            <strong class="pull-right">
                                <%=arr[i]%>
                            </strong>
                        </li>
                    <%
                            }
                            }
                     %>
                    </ul>
                        <button type="button" class="btn btn-primary pull-right" style="margin-left:5px; ">下一页</button>
                        <button type="button" class="btn btn-primary pull-right">上一页</button>
                    <%
                            }
                        }
                    %>
                <div style="display:none;" class="prev-next-wrap clearfix">

                    <a class="btn btn-default" href="/1-0-0-beta-is-out/"><i class="fa fa-angle-left fa-fw"></i> 1.0.0 Beta 版本发布啦！！！</a>
                    &nbsp;

                    <a class="btn btn-default" href="/ghost-1-0-rc1/">Ghost 1.0 RC1 发布，可用于生产环境 <i class="fa fa-angle-right fa-fw"></i></a>
                </div>

                </div>
            </main>

            <aside class="col-md-4 sidebar">
                <!-- start widget -->
                <!-- end widget -->

                <!-- start tag cloud widget -->
                <div class="widget">
                    <h4 class="title" style="text-align: center">用户区域</h4>
                    <div class="content community" style="text-align: center">
                        <%
                        if(!session.loginUser){
                        %>
                        <p>未登录</p>
                        <p><a href="/login"><i class="glyphicon glyphicon-user"></i> &nbsp;登陆</a></p>
                        <p><a href="/register"><i class="glyphicon glyphicon-pencil"></i>&nbsp; 注册</a></p>
                        <%
                        }else{
                        %>
                            <div style="height: 110px;width: 150px;margin: 0 auto;">
                                <img class="img-responsive" src="<%=session.loginUser.images%>" alt="用户头像">
                            </div>
                            <p>用户: <%=session.loginUser.username%></p>
                            <p><a href="/logout">退出</a></p>
                        <%
                        }
                        %>
                    </div>
                </div>
                <!-- end tag cloud widget -->

                <!-- start widget -->
                <div style="display: none;" class="widget">
                    <h4 class="title">--</h4>
                    <div class="content download">
                        <a href="/download/" class="btn btn-default btn-block" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '下载Ghost'])">--</a>
                    </div>
                </div>
                <!-- end widget -->

                <!-- start tag cloud widget -->
                <div class="widget">
                    <h4 class="title" style="text-align: center;">文章分类</h4>
                    <div class="content tag-cloud">
                        <!--分类展示-->
                        <%
                        if(!categorys && categorys.length ==0){
                        %>
                        <p>没有任何文章分类！！！</p>
                        <%
                        }else{
                        for(let i =0;i<categorys.length;i++){
                        %>
                        <!--根据分类ID查询该分类的所有文章-->
                        <a href="/contents?id=<%=categorys[i]._id%>&page=1"><%=categorys[i].name%></a>
                        <%
                           }
                        }
                        %>
                    </div>
                </div>
                    </aside>
        </div>
    </div>
</section>
<!--页面底部内容-->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div style="display: none;" class="widget">
                    <h4 class="title">最新文章</h4>
                    <div class="content recent-post">
                        <div class="recent-single-post">
                            <a href="/custom-excerpts/" class="post-title">自定义文章摘要（Excerpt）</a>
                            <div class="date">2017年8月9日</div>
                        </div>
                        <div class="recent-single-post">
                            <a href="/primary-tags/" class="post-title">首要“标签”</a>
                            <div class="date">2017年8月3日</div>
                        </div>
                        <div class="recent-single-post">
                            <a href="/ghost-1-0-released/" class="post-title">Ghost 1.0 版本正式发布</a>
                            <div class="date">2017年7月29日</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div style="display: none;" class="widget">
                    <h4 class="title">标签云</h4>
                    <div class="content tag-cloud">
                        <a href="/tag/about-ghost/">Ghost</a>
                        <a href="/tag/release/">新版本发布</a>
                        <a href="/tag/javascript/">JavaScript</a>
                        <a href="/tag/promise/">Promise</a>
                        <a href="/tag/zhuti/">主题</a>
                        <a href="/tag/nodejs/">Node.js</a>
                        <a href="/tag/mysql/">MySQL</a>
                        <a href="/tag/nginx/">Nginx</a>
                        <a href="/tag/aliyun-ecs/">阿里云服务器</a>
                        <a href="/tag/ubuntu/">Ubuntu</a>
                        <a href="/tag/ghost-in-depth/">深度玩转 Ghost</a>
                        <a href="/tag/theme/">Theme</a>
                        <a href="/tag/zhu-shou-han-shu/">助手函数</a>
                        <a href="/tag/markdown/">Markdown</a>
                        <a href="/tag/proxy/">反向代理</a>

                        <a href="/tag-cloud/">...</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div style="display: none;" class="widget">
                    <h4 class="title">合作伙伴</h4>
                    <div class="content tag-cloud friend-links">
                        <a href="http://www.bootcss.com" title="Bootstrap中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'bootcsscom'])" target="_blank">Bootstrap中文网</a>
                        <a href="http://www.bootcdn.cn" title="开放CDN服务" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'bootcdncn'])" target="_blank">开放CDN服务</a>
                        <a href="http://www.gruntjs.net" title="Grunt中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'gruntjsnet'])" target="_blank">Grunt中文网</a>
                        <a href="http://www.gulpjs.com.cn/" title="Gulp中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'gulpjscomcn'])" target="_blank">Gulp中文网</a>
                        <hr>
                        <a href="http://lodashjs.com/" title="Lodash中文文档" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'lodashjscom'])" target="_blank">Lodash中文文档</a>
                        <a href="http://www.jquery123.com/" title="jQuery中文文档" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'jquery123com'])" target="_blank">jQuery中文文档</a>
                        <hr>
                        <a href="http://www.aliyun.com/" title="阿里云" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'aliyun'])" target="_blank">阿里云</a>
                        <hr>
                        <a href="https://www.upyun.com/" title="又拍云" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'upyun'])" target="_blank">又拍云</a>
                        <a href="http://www.qiniu.com/" title="七牛云存储" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'qiniu'])" target="_blank">七牛云存储</a>
                    </div>
                </div></div>
        </div>
    </div>
</footer>

<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright &copy; <a href="http://www.JasonLWY.com/">jasonlwy</a></span> |

            </div>
        </div>
    </div>
</div>

<a href="#" id="back-to-top"><i class="fa fa-angle-up"></i></a>

<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/fitvids/1.1.0/jquery.fitvids.min.js"></script>
<script src="//cdn.bootcss.com/highlight.js/8.5/highlight.min.js"></script>
<script src="//cdn.bootcss.com/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
<script src="js/demo.js"></script>
<script>
    $(function(){
        $('.post-content img').each(function(item){
            var src = $(this).attr('src');

            $(this).wrap('<a href="' + src + '" class="mfp-zoom" style="display:block;"></a>');
        });
        /*$('.post-content').magnificPopup({
          delegate: 'a',
          type: 'image'
        });*/
    });
</script>

<script>
    window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>

<script>
    $(function(){
        var version = '0.7.4';
        var $download =  $('.download > a').first();
        var html = $download.html().replace(/\d\.\d\.\d/, version);

        $download.html(html);
    });
</script>
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F6338835ad35c6d950a554fdedb598e48' type='text/javascript'%3E%3C/script%3E"));
</script>

</body>
</html>
