<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>node-content-sys</title>
    <meta name="description" content="node-content-sys" />
    <meta name="keywords" content="node-content-sys">
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/bitbug_favicon.ico">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/8.5/styles/monokai_sublime.min.css">
    <link href="//cdn.bootcss.com/magnific-popup.js/1.0.0/magnific-popup.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="canonical" href="http://www.ghostchina.com/ghost-1-0-0-beta-2-released/" />
    <meta name="referrer" content="origin" />
    <script type="text/javascript" src="js/demo01.js"></script>
    <link href="../css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <script type="text/javascript">
        ghost.init({
            clientId: "ghost-frontend",
            clientSecret: "721352203d6a"
        });
    </script>
    <meta name="generator" content="node-content-sys" />
    <link rel="alternate" type="application/rss+xml" title="node-content-sys" href="http://www.jasonlwy.cn" />
    <style>
        .img{
            display: block;
            margin-bottom: 25px;
        }
        .list-group-item{
            display: flex;
            background: #eff0f9;
        }
        .left{
            flex: 0 0 15%;
        }

        .right{
            flex: 1;
            padding-top: 23px;
        }
        .strong1{
            padding-left: 6px;
            position: absolute;
            margin: 0 auto;
        }

    </style>
</head>
<body class="post-template">
<!-- start navigation -->
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 topColor  ">
                <div style="display: none;" class="navbar-header">
                        <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                        </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu">
                        <li class="nav-current" role="presentation"><a href="/">首页</a></li>
                        <!--<li  role="presentation"><a href="/committeam">摄影</a></li>-->
                        <!--<li  role="presentation"><a href="/committeam">旅游</a></li>-->
                        <li  role="presentation"><a href="/about">关于博主</a></li>
                        <%
                        if(session.loginUser){
                        %>
                            <li class="pull-right"><a href="/topCenter">设置信息</a></li>
                        <%
                        }
                        %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- end navigation -->
<!-- start site's main content area -->
<section class="content-wrap">
    <div class="container">
        <div class="row">
            <main class="col-md-8 main-content">
                <%
                        if(!content && content.toString()==''){
                %>
                <%
                    }else{
                %>
                <article id="104" class="post">

                    <header class="post-head">
                        <h1 class="post-title"><%=content.title%></h1>
                        <section class="post-meta">
                            <span class="author">作者：<a href="/about"><%=content.user.username%></a></span> &bull;
                            <time class="post-date" datetime="" title=""><%=now%></time>
                        </section>
                    </header>
                    <section class="post-content">
                        <p>
                            <!--markdown语法-->
                            <%-contentHtml%>
                        </p>
                    </section>
                    <section class="featured-media">
                        <%
                            var arr1 = content.images;
                        for(var o = 0;o<arr1.length;o++){

                        %>
                        <img src="<%=arr1[o]%>" alt="image" class="img-responsive img">
                        <%
                        }
                        %>
                    </section>
                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <%=content.category.name%>
                        </div>

                        <div class="pull-left tag-list marL">
                            <i class="fa fa-folder-open-o">阅读数:</i>
                            <%=content.views%>
                        </div>
                        <div class="pull-right share">
                            <div class="bdsharebuttonbox share-icons">
                                <a href="#" class="bds_more" data-cmd="more"></a>
                                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                                <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                            </div>        </div>
                    </footer>

                </article>
                <%
                         }
                %>
                <div class="about-author clearfix">
                    <!--<a href="/author/wangsai/"><img src="http://static.ghostchina.com/image/5/ea/da657733ee8c9add9cf3fd70183a6.png" alt="王赛" class="avatar pull-left"></a>-->

                    <!--未登录显示-->
                        <%
                            if(!session.loginUser){
                        %>
                        <a href="/login" class="btn btn-success btn-block">你 还 没 登 陆 请 ! 先 登 陆 再 评 论</a>
                    <br>

                    <ul class="list-group">
                        <%
                        if(!content && content.toString()==""){

                        %>
                        <li class="list-group-item"><strong>没有评论！！！！</strong></li>
                        <%
                        } else{
                        for(let i =0;i<content.comments.length;i++){


                            if (content.comments[i].live === true) {
                                //评论激活的情况下
                        %>
                            <li class="list-group-item">
                                <div class="left">
                                     <span style=" display:inline-block;width: 50px;margin: 0 auto;">
                                         <!--头像-->
                                        <img class="img-responsive" src="<%=content.comments[i].images%>" alt="用户头像">
                                    </span>
                                    <span class="strong1">
                                    <!--<i class="glyphicon glyphicon-user"></i>-->
                                    <strong>
                                        <%=content.comments[i].user%>: &nbsp;&nbsp;
                                    </strong>
                                 </span>
                                </div>

                                <div class="right">
                                    <span class=""><%=content.comments[i].comments%></span>
                                    <span class=" pull-right">
                                     <%=arr[i]%>
                                </span>
                                </div>

                            </li>
                        <%
                          }

                          }
                        }
                        %>
                    </ul>
                    <!--<a href="#" class="btn btn-success pull-right" style="margin-left:5px; ">下一页</a>-->
                            <!--<span class="page-number">当前第  页&nbsp; 总共2页</span>-->
                    <!--<a href="#" class="btn btn-success pull-right">上一页</a>-->
                    <%
                        }else {
                    %>
                        <!--已登陆显示 评论表单!!!!-->
                        <form action="/addComments" method="post" id="reportPicform" >
                                <div class="form-group ">
                                    <label for="comments">发表评论</label>
                                    <input type="hidden" name="id" value="<%=content._id%>">
                                    <input id="comments" style="border: 1px #7fa785 solid" type="text" class="form-control" name="comments">
                                    <!--<input type="submit" class="btn-primary pull-right addC" value="提交评论">-->
                                    <button id="inputButton" type="button" class="btn btn-success pull-right addC" onclick="submitComm()">提交评论</button>
                                </div>
                        </form>
                        <br>
                        <br>

                    <ul class="list-group">
                        <%
                            if(!content && content.toString()==""){

                        %>
                        <li class="list-group-item"><strong>没有评论！！！！</strong></li>
                        <%
                        } else{
                        for(let i =0;i<content.comments.length;i++){
                            if (content.comments[i].live === true) {
                        %>
                        <li class="list-group-item">
                                <div class="left">
                                     <span style=" display:inline-block;width: 50px;margin: 0 auto;">
                                        <img class="img-responsive" src="<%=content.comments[i].images%>" alt="用户头像">
                                    </span>
                                <span class="strong1">
                                    <!--<i class="glyphicon glyphicon-user"></i>-->
                                    <strong>
                                        <%=content.comments[i].user%>: &nbsp;&nbsp;
                                    </strong>
                                 </span>
                            </div>

                            <div class="right">
                                <span class=""><%=content.comments[i].comments%></span>
                                <span class=" pull-right">
                                     <%=arr[i]%>
                                </span>
                            </div>

                        </li>
                    <%


                            }
                            }
                     %>
                    </ul>
                        <!--<button type="button" class="btn btn-success pull-right" style="margin-left:5px; ">下一页</button>-->
                        <!--<button type="button" class="btn btn-success pull-right">上一页</button>-->
                    <%
                            }
                        }
                    %>

                </div>
            </main>

            <aside class="col-md-4 sidebar">
                <!-- start widget -->
                <!-- end widget -->

                <!-- start tag cloud widget -->
                <div class="widget">
                    <h4 class="title" style="text-align: center">用户区域</h4>
                    <div class="content community" style="text-align: center">
                        <%
                        if(!session.loginUser){
                        %>
                        <p>未登录</p>
                        <p><a href="/login"><i class="glyphicon glyphicon-user"></i> &nbsp;登陆</a></p>
                        <p><a href="/register"><i class="glyphicon glyphicon-pencil"></i>&nbsp; 注册</a></p>
                        <%
                        }else{
                        %>
                            <div style="width: 150px;margin: 0 auto;">
                                <img class="img-responsive" src="<%=session.loginUser.images%>" alt="用户头像">
                            </div>
                            <p>用户: <%=session.loginUser.username%></p>

                            <p><a href="/logout">退出</a></p>
                        <%
                        }
                        %>
                    </div>
                </div>
                <!-- end tag cloud widget -->

                <!-- start widget -->
                <div style="display: none;" class="widget">
                    <h4 class="title">--</h4>
                    <div class="content download">
                        <a href="/download/" class="btn btn-default btn-block" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '下载Ghost'])">--</a>
                    </div>
                </div>
                <!-- end widget -->

                <!-- start tag cloud widget -->
                <div class="widget">
                    <h4 class="title" style="text-align: center;">文章分类</h4>
                    <div class="content tag-cloud">
                        <!--分类展示-->
                        <%
                        if(!categorys && categorys.length ==0){
                        %>
                        <p>没有任何文章分类！！！</p>
                        <%
                        }else{
                        for(let i =0;i<categorys.length;i++){
                        %>
                        <!--根据分类ID查询该分类的所有文章-->
                        <a href="/contents?id=<%=categorys[i]._id%>&page=1"><%=categorys[i].name%></a>
                        <%
                           }
                        }
                        %>
                    </div>
                </div>
                    </aside>
        </div>
    </div>
</section>
<!--页面底部内容-->


<div class="copyright" style="display: none">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright &copy; <a href="http://www.JasonLWY.com/">jasonlwy</a></span> |

            </div>
        </div>
    </div>
</div>

<a href="#" id="back-to-top"><i class="fa fa-angle-up"></i></a>

<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/fitvids/1.1.0/jquery.fitvids.min.js"></script>
<script src="//cdn.bootcss.com/highlight.js/8.5/highlight.min.js"></script>
<script src="//cdn.bootcss.com/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
<script src="js/demo.js"></script>
<script src="../js/plugins/toastr/toastr.min.js"></script>
<script>
    $(function(){
        $('.post-content img').each(function(item){
            var src = $(this).attr('src');

            $(this).wrap('<a href="' + src + '" class="mfp-zoom" style="display:block;"></a>');
        });
    });
</script>

<script>
    window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script>
    $(function(){
        var version = '0.7.4';
        var $download =  $('.download > a').first();
        var html = $download.html().replace(/\d\.\d\.\d/, version);
        $download.html(html);
    });
</script>
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F6338835ad35c6d950a554fdedb598e48' type='text/javascript'%3E%3C/script%3E"));
</script>
<script>
    //提示配置信息
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "positionClass": "toast-top-right",
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
    //根据后台返回的数据结果显示提示的内容
    function submitComm(){
        var InputComm = $('#comments').val();
        console.info(InputComm);
        if(InputComm){
            toastr.success('提交评论！！！')
            $('#reportPicform').submit();
        }else{
            toastr.error('请填写评论!!1')
        }
    }
</script>
</body>
</html>
